.books a {
    color: #614e3c;
}

.books a:hover {
    color: #fff;
}

.books .right-menu .sub-section {
    border-bottom: 1px solid #eaeaea;
}

.books .right-menu .sub-section:last-child {
    border-bottom: none;
}

.books .right-menu .sub-section div {
    margin-left: -10px;
    padding-top: 10px;
    margin: -1px 0 10px 0;
}

.books .right-menu .sub-section:first-child div {
    padding-top: 0;
}

.books .right-menu .sub-section ul {
    margin-left: -10px;
}

.books .right-menu .sub-section ul li {
    display: inline-block;
    margin-left: 10px;
}

.books .right-menu .sub-section .title {
    color: #999;
    margin-bottom: 2px;
}

.books .main .display-collection li .book .link {
    padding: 2px 10px;
    background: #999a95;
    vertical-align: middle;
    display: inline-block;
    border-radius: 2px;
}

.books .main .display-collection li .book .link:hover {
    background: #878882;
}

.books .main .display-collection li .book .link a {
    color: white;
}

.books .main .display-collection li .book .link a:hover {
    background: transparent;
}

.books .main .new-books,
.books .main .original {
    margin-bottom: 30px;
}
