.hot {
    width: 950px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 10px 0;
    margin-bottom: 30px;
}

.hot .main {
    overflow: hidden;
    margin: -10px 0 0 -10px;
}

.hot .sidebar {
    float: right;
    width: 265px;
    margin-left: 30px;
}

.hot .sidebar .ad-container {
    position: relative;
    width: 250px;
    margin: 10px 0;
}

.hot .sidebar .ad-container .ad {
    width: 100%;
    margin: 10px 0;
    display: block;
}

.hot .sidebar .ad-container span {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    padding: 4px;
}

.hot .sidebar .hot-topics {
    margin-bottom: 30px;
}

.hot .sidebar .hot-topics .title {
    color: rgb(0, 119, 34);
    font-size: 15px;
    line-height: 22.5px;
}

.hot .sidebar .hot-topics .title span {
    line-height: 18px;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.hot .sidebar .hot-topics .topics .topic {
    margin: 10px 0 15px 0;
}

.hot .sidebar .hot-topics .topics .topic a {
    font-size: 14px;
    display: inline-block;
    line-height: 1.3;
}

.hot .sidebar .hot-topics .topics .topic aside {
    font-size: 13px;
    line-height: 13px;
    color: rgb(170, 170, 170);
    display: block;
    margin-top: 6px;
}

.hot .sidebar .hot-topics .topics .topic a+span {
    display: none;
}

.hot .sidebar .hot-topics .topics .topic.active a+span {
    display: inline-block;
    background-color: #FFE7E7;
    color: #B4000E;
    padding: 2px 3px;
    margin: -1px 0 0 2px;
    font-size: 11px;
}

.hot .main .album {
    width: 360px;
    margin-right: 20px;
    float: left;
}

.hot .main .display-item {
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.hot .main .display-item:nth-child(odd) {
    margin-left: 0;
}

.hot .main .display-item .image {
    width: 170px;
    height: 170px;
    display: block;
    margin-bottom: 3px;
}

.hot .main .display-item .album-size {
    color: rgb(153, 153, 153);
}

.hot .main .notes {
    overflow: hidden;
}

.hot .main .notes {
    line-height: 19.44px;
}

.hot .main .notes .subtitle {
    color: #999;
}

.hot .main .notes .content-preview {
    color: rgb(102, 102, 102);
}

.hot .main .notes ul li {
    margin-top: 12px;
}
