.merch .left-menu .title a {
    color: #1f9432;
}

.merch .right-menu {
    font-size: 14px;
}

.merch .right-menu .events {
    margin-bottom: 30px;
}

.merch .right-menu .events .banner-container {
    position: relative;
    display: block;
}

.merch .right-menu .events .banner-container .banner {
    width: 100%;
    display: block;
    height: 95px;
    object-fit: cover;
}

.merch .right-menu .events .share-quotes {
    margin-top: 5px;
    margin-bottom: 10px;
}

.merch .right-menu .official-groups li {
    margin-top: 14px;
    line-height: 1.4em;
}

.merch .right-menu .official-groups .group a {
    color: #37a;
}

.merch .right-menu .official-groups .group .group-name {
    margin-bottom: 3px;
}

.merch .right-menu .official-groups .group .info .members {
    float: left;
}

.merch .right-menu .official-groups .group .info .date {
    float: right;
}

.merch .right-menu .official-groups .group .info .members,
.merch .right-menu .official-groups .group .info .date {
    font-size: 12px;
    color: #6A6A6A;
}

.merch .main .hot-sales li {
    display: inline-block;
    width: 240px;
    margin: 0 20px 30px 0;
}

.merch .main .hot-sales .item .pic-container {
    width: 240px;
}

.merch .main .hot-sales .item .pic-container .picture {
    display: block;
    width: 100%;
}

.merch .main .hot-sales .item .info {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
}

.merch .main .hot-sales .item .info .price {
    float: right;
    color: #E55457;
}
